body {
    background-color: whitesmoke;
}
.formdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 100px auto 100px auto;
    width: 300px;
    height: 650px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 20px #777777;
   
}
.form input[type="text"],
.form input[type="password"],
.form input[type="email"] {
    width: 260px;
    height: 40px;
    margin-bottom: 20px;
    border-top: none;
    border-right: none;
    border-radius: 10px;
    border-color: rgb(105, 142, 241);
}
button {
    background-color: rgb(26, 83, 240);
    color: white;
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    margin-right: 70px;
    margin-left: 70px;
}
button:hover {
    background-color: rgb(105, 142, 241);
}
button:active {
    background-color: yellowgreen;
}

#register {
    text-align: center;
    font-size: 24px;
    color: rgb(26, 83, 240);
   
}

.benvictor {
    font-size: 1em;
    opacity: 0;
    transform: translate(20px);
    animation: fadeSlideUp 2s ease-in-out forwards;
   
   }
   @keyframes fadeSlideUp {
     0% {
       opacity: 0;
       transform: translate(20px);
     }
     100% {
       opacity: 1;
       transform: translate(0);
     }
   }